* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
section {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(82, 79, 79);
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgb(177, 177, 177);
}
.escolha {
    flex-shrink: 2;
}
.placar {
    flex-shrink: 1;
    flex-wrap: wrap;
    text-align: center;
}

img {
    width: 200px;
    height: 250px;
    margin-bottom: 5px;
}
button {
    padding: 3px;
    margin: 5px;
    width: 60px;
}

ul {
    list-style: none;
}
li {
    list-style: none;
}
.scoreTitle {
    font-weight: bold;
    margin: 5px;
}
.placarRodada {
    color:blue
}
.recarregar {
    font-weight: bold;
    color: red;
}
.pontosRodada {
    color: rgb(0, 83, 12);
}
.resultadoFinal {
    font-weight: bold;
    font-size: large;
}