* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
section {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(82, 79, 79);
    align-content: center;
    align-items: center;
}
img {
    width: 200px;
    height: 250px;
    margin-bottom: 5px;
}
button {
    padding: 3px;
    margin: 5px;
    width: 60px;
}